@import "./_vars.css";

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style-type: none;
	outline: none;
}

body {
	min-height: 100vh;
	background-image: linear-gradient(90deg, var(--dark-pink), var(--light-pink));
	font-family: var(--font-raleway);
	font-weight: 400;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

textarea {
	resize: vertical;
	min-height: 200px;
}

.loader {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	border-top: 4px solid var(--blue);
	border-right: 4px solid transparent;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.container {
	max-width: 1280px;
	margin: 0 auto;
}

.input--primary {
	background-color: var(--dark);
	border: none;
	border-bottom: 1px solid var(--dark-pink);
	padding: 10px 15px;
	color: white;
	transition: background-color .2s ease;
}
.input--primary:hover {
	background-color: var(--black);
}

textarea.input--primary {
	font-family: var(--font-raleway);
	font-size: 15px;
	font-weight: 400;
}

.btn--primary {
	border: none;
	background-color: white;
	color: var(--black);
	border-radius: 10px;
	padding: 10px 15px;
	cursor: pointer;
	transition: background-color .2s ease;
}
.btn--primary:hover {
	background-color: var(--dark-white);
}

.btn--submit {
	background-color: var(--green);
	border: none;
	color: white;
	cursor: pointer;
	padding: 10px 15px;
	border-radius: 10px;
	transition: background-color .2s ease;
}
.btn--submit:hover {
	background-color: var(--green-hover);
}

.link--primary {
	color: white;
	text-decoration: underline;
	transition: color .2s ease;
}
.link--primary:hover {
	color: var(--green);
}