@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;600;800;900&display=swap');

:root {
	--dark-pink: #8D3595;
	--light-pink: #E13469;
	--black: #181818;
	--dark: #303030;
	--blue: #487CA0;
	--green: #349561;
	--green-hover: #3cb072;
	--gray: #6F7576;
	--dark-white: #E3E3E3;

	--font-raleway: "Raleway", sans-serif;
}