@import "./_global.css";

.settings {
	background-color: var(--black);
	min-height: 100vh;
	padding: 20px;
	color: white;
}

.settings__header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.settings--title {
	margin-top: 20px;
}

.settings--back {
	max-width: 100px;
}

.settings__form {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	gap: 20px 0;
	max-width: 500px;
}

.settings__password {
	margin-top: 20px;
}

.settings__password--text {
	display: flex;
	align-items: center;
	gap: 0 20px;
}

.settings__password--text span {
	font-size: 13px;
	max-width: 350px;
	overflow-x: auto;
	background-color: var(--gray);
	padding: 10px;
}

.settings__form label {
	display: flex;
	flex-direction: column;
	gap: 20px 0;
}

.settings--submit {
	max-width: 200px;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.5);
}

.modal.hidden {
	display: none;
}

.modal__content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--dark);
	color: white;
}

.modal__header {
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--green);
}

.modal--close {
	cursor: pointer;
	user-select: none;
}

.modal--title {
	font-weight: 400;
	font-size: 24px;
}

.modal--text {
	line-height: 22px;
	padding: 20px;
}

.modal__footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}